body{
margin:0;
font-family:Arial;
background:#1a1a1a;
color: white;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.back{
background:#ff7a00;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;
margin-bottom:15px;
border-radius: 10px;
}

.addon-box{
background:#2a2a2a;
padding:20px;
border-radius:10px;
margin-bottom:20px;
color: white;
}

.addon-logo{
width:80px;
height:80px;
border-radius:15px;
}

.addon-screen{
width:100%;
border-radius:10px;
margin-top:10px;
}

.download-btn{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:#ff7a00;
color:white;
text-decoration:none;
border-radius:6px;
}

.rating-info{
margin-top:10px;
font-size:18px;
}

.review-box{
background:#2a2a2a;
color: white;
padding:20px;
border-radius:10px;
}

.star{
width:20px;
height:20px;
margin-right:2px;
}

.main-header{
display:flex;
justify-content:space-between;
align-items:center;
background:#2a2a2a;
padding:12px 20px;
border-bottom:3px solid #ff6a00;
}

.site-title{
color:#ff6a00;
}

.logo{
width:50px;
height:50px;
border-radius: 15%;
}



#reviewSection {
  margin-top:20px;
  text-align:center;
}

#reviewSection iframe {
  max-width:100%;
  width:500px;
  height:500px;
  border-radius:8px;
  overflow:hidden;
  }
